tests/**/*.js
tests/**/*.d.ts
tests/**/*.metadata.json
src/**/*.js
src/**/*.d.ts
src/**/*.metadata.json
package-lock.json
.idea
*.map
*.js
*.d.ts
*.metadata.json
.vscode
coverage
documentation
bundles
node_modules
npm-debug.log
!src/mqttjs.d.ts
!typings.d.ts
!config/*
!karma.conf.js
!webpack.config.js
!make.js
!clean.js