language: node_js

sudo: true

node_js:
  - 10

script:
  npm test

addons:
  chrome: stable

branches:
  only:
    - master

services:
  - docker

before_install:
  - docker pull eclipse-mosquitto

before_script:
  - docker run -d -p 9001:9001 -v $(pwd)/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro eclipse-mosquitto
