language: node_js
sudo: false
node_js:
  - 8
script:
  npm test
branches:
  only:
  - master
services:
  - docker
  - xvfb
before_install:
  - export CHROME_BIN=chromium-browser
  - docker pull eclipse-mosquitto

before_script:
  - export DISPLAY=:99.0
  - docker run -d -p 9001:9001 -v $(pwd)/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro eclipse-mosquitto
